@model ShopASP.Models.ViewModel.EmployeeViewModels
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-5 offset-4">
        <div class="col-md-10">
            <h2 style="text-align: center">@ViewBag.Title</h2>
        </div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-10">
                    <h4 style="text-align: center">Đăng nhập vào tài khoản nhân viên</h4>
                    <hr />
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="text-danger">
                    @ViewData["Error"]
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" style="display:flex" />
                    </div>
                </div>
                <p>
                    Bạn quên/mất tài khoản ? Hãy liên hệ chủ cửa hàng để được giải quyết!
                </p>
            }
        </section>
    </div>
</div>


