@model ShopASP.Models.Customer
@{
    ViewBag.Title = "Thêm thông tin cho tài khoản của bạn";
}
<div class="row">
    <div class="col-md-6 offset-4">
        <div class="col-md-10">
            <h2 style="text-align: center">@ViewBag.Title</h2>
        </div>
        @using (Html.BeginForm("AddInfor", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                <h4 style="text-align: center">Tạo tài khoản mới</h4>
                <hr />
            </div>

            @*@Html.ValidationSummary(true)*@
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Họ và Tên", new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    Tên mới
                    @Html.TextBox("Name", "", new { @class = "form-control" })
                    <div class="text-danger">
                        @ViewData["ErrorName"]
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Email", new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.TextBox("Email", "", new { @class = "form-control" })

                    <div class="text-danger">
                        @ViewData["ErrorEmail"]
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Giới tính", new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.RadioButton("Gender", "Nam", true)
                    @Html.RadioButton("Gender", "Nữ")
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Địa chỉ", new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.TextBox("Address", "", new { @class = "form-control" })

                    <div class="text-danger">
                        @ViewData["ErrorAddress"]
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="AddInfor" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
